.booking-page {
  width: 90%;
  margin: 25px auto;
  font-family:  Arial, Helvetica, Verdana, sans-serif;

  display: grid;
  grid-template-columns: 60% 35%;
  gap: 25px;
}
.passenger-block {
  padding: 10px 0;
}

.passenger-block h3 {
  margin-bottom: 10px;
  color: #213d77;
}

.section-title {
  font-size: 22px;
  color: #213d77;
  margin-bottom: 15px;
}

.booking-form {
  background: white;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #d1d9e6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #213d77;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #b9c6dd;
  border-radius: 6px;
  font-size: 15px;
}

.form-flex {
  display: flex;
  gap: 15px;
}

.confirm-btn {
  width: 100%;
  background: #ff9933;
  color: #213d77;
  font-weight: 700;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  font-size: 18px;
}

.confirm-btn:hover {
  background: #ffb366;
}

.summary-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary-card,
.fare-card {
  background: white;
  padding: 18px;
  border-radius: 12px;
  border: 1px solid #d1d9e6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.summary-card h3,
.fare-card h3 {
  color: #213d77;
  margin-bottom: 10px;
}

.fare-card h4 {
  margin-top: 8px;
  color: #213d77;
}

.no-train-text {
  text-align: center;
  margin-top: 40px;
  color: #213d77;
  font-size: 22px;
}

@media (max-width: 850px) {
  .booking-page {
    grid-template-columns: 1fr;
  }
}
