.irctc-footer{
  background:#213d77;
  color:white;
  padding:20px;
}
.footer-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.footer-bottom{
  text-align:center;
  margin-top:10px;
  opacity:0.8;
}
