/* Home page container */
.home-page {
  width: 100%;
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #e10600;
}

.nav-links a {
  margin: 0 18px;
  color: #444;
  font-size: 17px;
  text-decoration: none;
}

.signin-btn {
  background: #e10600;
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* HERO IMAGE - FULL WIDTH */
.hero-image {
  width: 100%;
  height: 70vh; /* adjust height here */
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills whole screen area */
}

/* SEARCH BOX */
.search-box {
  width: 70%;
  margin: -40px auto 50px auto; /* moves box up over image */
  background: #ffffff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.search-box input {
  width: 30%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.search-btn {
  background: #e10600;
  color: #fff;
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  cursor: pointer;
}
